body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

.editor-container {
    width: 80%;
    margin: 0 auto;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.toolbar {
    padding: 10px;
    background-color: #e0e0e0;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.toolbar button,
.toolbar select,
.toolbar input[type="color"] {
    border: 1px solid #bbb;
    background-color: #f0f0f0;
    cursor: pointer;
    border-radius: 3px;
    font-size: 11px;
	height:22px;
	margin-top:-1px;
	
}

.toolbar img {
	width:20px;
	height:20px;
	border-radius:3px;
	cursor:pointer;
}

.toolbar button:hover,
.toolbar select:hover,
.toolbar input[type="color"]:hover {
    background-color: #e0e0e0;
}

.editor {
    height: 72vh;
    padding: 10px;
    line-height: 1.6;
    overflow:auto;
}

.editor p {
    margin-bottom: 10px;
}

#heading-index {list-style-type:none;}
#heading-index .level-h1 {margin:0}
#heading-index .level-h2 {margin:0 10px 0 10px}
#heading-index .level-h3 {margin:0 20px 0 20px}
#heading-index .level-h4 {margin:0 30px 0 30px}
#heading-index .level-h5 {margin:0 40px 0 40px}
#heading-index .level-h6 {margin:0 50px 0 50px}
